.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tittles {
    display: flex;
    flex-direction: column;
}

.back-green {
    background-color: #369975;
    color: white;
}