.primary-color-back {
    background-color: var(--primary-color);
}

.color-primary {
    font-weight: 500;
}

.span-text {
    color: black;
    font-weight: 500;
    font-size: 24px;
}

.title {
    font-weight: 600;
}

.separator {
    margin-right: 15px;
}

.content-card {
    background-color: #F5B567;
    border-radius: 30px;
}

.content-card-init {
    background-color: #ebebeba8;
    border-radius: 30px;
}

.round-completed {
    background-color: #369975 !important;
    color: white;
}

@media (max-width: 960px) {
    .color-primary {
        font-size: 13px;
    }
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.secondary-color {
    color: var(--secondary-color);
    font-weight: 600;
}

.back-grey {
    background-color: #808080;
}


.seeDetail {
    text-align: right;
    font-size: 16px;
    font-weight: 500;
}

.cursor {
    cursor: pointer;
}