.button-search {
    width: 18%;
    height: 45px;
}

.input-field-large {
    margin-right: 30px;
    width: 300px !important;
}

.input-field{
    margin-right: 30px;
    width: 200px !important;
}


.icon-download-large{
    font-size: 42px;
    cursor: pointer;
}


.d-flex.justify-content-end {
    justify-content: flex-end !important;
}

.clean {
    margin-left: 20px;
}

.xlsx {
    width: 3%;
}

@media (max-width: 1200px) {
    .xlsx {
      width:5%
    }
  }

  @media (max-width: 838px) {
    .xlsx {
      width:10%
    }
  }